@{
  ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>Witaj w aplikacji PGSBoard</h1>
    <h3>
        Aby zacząć korzystać z aplikacji
 @Html.ActionLink("zaloguj się", "Login", "Account") lub @Html.ActionLink("zarejestruj się", "Register", "Account")
    </h3>
</div>